.About {
  background-color: #D3F9B5   ;
  padding-top: 50px;
  padding-bottom: 100px;
}
img {
  width: 60%;
}

#about-me {
  font-size: 16px;
}

.desktop-view{
  visibility: visible;
}
.mobile-view{
  display: none;
}

.currently-learning{
  background-color: #DDFAC6;
  padding-left: 10px;
  padding-right: 10px;
}

.passionate{
  background-color: #E9FCD9;
  padding-left: 10px;
  padding-right: 10px;
}

.find-me{
  background-color: #E9FCD9;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .desktop-view{
    display: none;
  }
  .mobile-view{
    padding-top: 10px;;
    display: block;
    visibility: visible;
  }

} 