.Hobbies {
  padding-top: 50px;
  padding-bottom: 50px;
}

#hobbies {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 40px;
  text-align: center;
  color: #1B0872;
  font-weight: bolder;
}

.custom {
  background-color: #0B032D;
}

@media only screen and (max-width: 600px) {
  #hobbies, h3 { font-size: 30px; }
} 

