.accordion {
  background-color: #0B032D;
  border: none;
}
.accordion__item {
  color: #FFC9AD ;
}

.accordion__heading {
  background-color: #FFC9AD ;
}

.accordion__panel{
  background-color: #FFC9AD ;
}

.accordion__button{
  background-color: #0B032D;
  color: white; 
}

