.bg-light {
  background-color: #FFD0CB !important;
}

Nav {
  font-family: Lato, sans-serif;
  color: #2B50AA !important;
}

Nav.text {
  font-family: Lato, sans-serif;
  color: #2B50AA !important;
}