.Social {
  padding-top: 10px;
  background-color: #e0fffb ;
}
.react-icons {
  padding-left: 10px;
  padding-right: 10px;
}

.social-sidebar {
  bottom: 0px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.social-sidebar>div {
  flex:1;
  max-width: 100%;
}

#reach-out {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;

}
